.conMain {
	padding: 0;
	margin: 0;
}

.conMainWrap {
	margin: 30px;
	padding: 30px;
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
}

.acTit {
    padding-top: 0;
    padding-bottom: 30px;
    margin: 0;
    border-bottom: 1px #aaa dotted;
    font-size: 18px;
    /*font-weight: bold;*/
    font-family: 'microsoft yahei';
}

.acForm {
    width: 100%;
    min-height: 200px;
    overflow: hidden;
}

.pacType {
    /*display: inline-block;*/
    float: left;
    width: 282px;
    margin: 20px 30px 0 30px;
    overflow: hidden;
}

.pacTypeTit {
    width: 282px;
    padding: 15px 0;
    margin: 0;
    font: 700 14px/30px Tahoma;
}

.pacTypeItem {
    position: relative;
    width: 282px;
    height: 58px;
    /*padding: 10px 0 0 0;*/
    border-top: 1px #aaa dotted;
    overflow: hidden;
}

.pacTypeItem label {
    position: absolute;
    top: 18px;
    left: 0;
    font-size: 13px;
}

.pacTypeItemInp {
    position: absolute;
    right: 0;
    top: 10px;
    width: 140px;
    height: 22px;
    padding: 0;
    margin: 0;
    border: 1px solid #cecece;
    font-size: 13px;
}

.pacTypeItemDet {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    color: #aaa;
}

.acBtn {
    float: left;
    width: 100%;
    /*display: block;*/
}

#acBtn {
    height: 30px;
    padding: 0 6px;
    margin: 0 auto;
    margin-left: 30px;
    border: 1px solid #303942;
    border-radius: 3px;
    background-color: #303942;
    color: #fff;
    cursor: pointer;
}
